<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1>Message Board Body</h1>
       <ul>
        <% messages.map((message) => { %>
            <li>
                <div>User: <%= message.messageuser %> </div>
                <div> <%= message.messagetext %> </div>
                <div> Date Added: <%= message.date %> </div>
                <form action="/message/<%= message.id %>">
                    <input type="submit" value="Open">
                </form>
            </li>
        <% }) %>
       </ul>
       <form action="/new">
            <input type="submit" value="New Post">
       </form>
    </body>
</html>