<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1>Message Board Body</h1>
        <% for (let i=0; i < messages.length; i++) { %>
            <li>
                <a href="<%= messages[i].href %>">
                    <span> <%= messages[i].text %> </span>
                </a>
            </li>
       <% } %>
       <ul>
        <% messages.forEach((message) => { %>
            <li>
                <div>User: <%= message.user %> </div>
                <div> <%= message.text %> </div>
                <div> Date Added: <%= message.added %> </div>
            </li>
        <% }) %>
       </ul>
       <form action="/new">
            <input type="submit" value="New Post">
       </form>
    </body>
</html>